<h1 class="text-center ">Things to do today!</h1>

<div class="container">
  <form #todayForm= "ngForm"(submit)="todoSubmit(todoForm.value); todayForm.resetForm()" >
    <div class="form-group">
      <div class="input-group-prepend">
          <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>
        <span class="input-group-text" (click)="addTodo(todo.value)">
          <i class="fa fa-plus" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="data">
    <ul class="list-unstyled">
      <li *ngFor="let todo of thingsToDoToday">{{todo}} <i (click)="deleteItem(todo)" class="fa fa-trash" aria-hidden="true"></i></li>
    </ul>
  </div>
  </form>
</div>
